
#main_img{
  height: 100px;
  width: auto;
}
#menu_view{
  width: 95%;
  height: 30px;
  margin: 10px;
}
ul{
  width: -webkit-fill-available;
  text-align: center;
  list-style-type: none;
  float: right;
  border: 5px solid rgb(231,117,114);
  padding: 10px;

}
#first_menu{
  float: left;
  margin-left: 10%;
}
#second_menu{
  float: left;
  margin-left: 30%;
}
#third_menu{
  float: right;
  margin-right: 10%;
}
li{
  display: inline;
}
.profile{
  padding: 1%;
  border: 5px solid rgb(231,117,114);
  width: 18%;
  height: 600px;
  float: left;
}
.content{
  padding: 1%;
  border: 5px solid rgb(231,117,114);
  width: 75%;
  height: 600px;
  float: right;
}
#profile_img{
  width: 100%;
}
.main_board{
  width: 95%;
  margin: 10px;
}
.profile_color{
  width: 100%;
  height: 31%;
  background-color: rgb(231,117,114);
}
.content_graph{
  width: 100%;
  height: 90%;
  background-color: rgb(231,117,114);
}
.content_music{
  width: 100%;
  height: 90%;
  background-color: rgb(231,117,114);
}
.logout{
    margin: 10px;
    float: right;
    margin-right: 4.5%;
}
.content_1{
  margin-right: 2%;
  width: 68%;
  height: 100%;
  float: left;
}
.content_2{
  width: 30%;
  height: 100%;
  float: right;
}
